Meta
doc
# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# RStudio files
.Rproj.user/
# bak files
*.bak
# produced vignettes
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# stuff precompiled by R
src/*.o
src/*.so
src/*.dll
.directory
.Rproj.user
inst/doc/*.html
inst/doc/*.R
inst/doc/*.Rmd
vignettes/rsconnect
vignettes/Figs
# Rprofile
.Rprofile
