import(zoo, Rcpp)
importFrom("nloptr", nloptr,cobyla)
importFrom("numDeriv",hessian)
importFrom("polynom",as.polylist,as.polynomial,polynomial)
importFrom("graphics",abline,layout,legend,lines,par,plot,points,polygon)
importFrom("stats",AIC,BIC,cov,dbeta,decompose,deltat,end,frequency,is.ts,lm,median,coef,
           nlminb,optim,pnorm,qnorm,qt,quantile,rbinom,rnorm,rt,runif,start,time,ts,var)
export(es, ges, nus, ces, ssarima, iss, auto.ces, auto.ssarima)
export(sim.ces, sim.es)
export(sowhat, MPE, MAPE, SMAPE, MASE, RelMAE, sMSE, hm, cbias)
export(graphmaker, forecast, forecast.smooth, AICc)

S3method(AIC,smooth)
S3method(AICc,smooth)
S3method(BIC,smooth)
S3method(coef,smooth)
S3method(fitted,smooth)
S3method(forecast,smooth)
S3method(plot,smooth)
S3method(plot,forecastSmooth)
S3method(plot,iss)
S3method(print,smooth)
S3method(print,forecastSmooth)
S3method(print,iss)
S3method(summary,smooth)
S3method(summary,forecastSmooth)
S3method(summary,iss)

useDynLib(smooth)
